.lights{
  width: 300px;
  height: 300px;
  border:1px solid #000;
  display:inline-block;
}
.light1{
  background-color: red;
  /*display: none;*/
} 
.light2{
  background-color: yellow;
  /*visibility: hidden;*/
}
.light3{
  background-color: green;
}