body {
  background: #f0f0f0;
}
.header {
  height: 100px;
  padding: 20px;
  border-bottom: 2px solid #e0ecb8;
}
.layout {
  width: 800px;
  margin: 0 auto;
  background: #ffffff ;
}
.content {
  float: left;
  width: 600px;
  padding: 10px;
  background: #e0ecb8;
}
.sidebar {
  float: right ;
  width: 200px;
  padding: 10px;
}
.sidebar ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
.sidebar ul a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #e0ecb8;
  border-bottom: 1px dashed #e0ecb8;
}
.sidebar ul a:hover {
  color: #000000;
}
.footer {
  clear: both;
  padding: 10px;
  border-top: 2px solid #e0ecb8;
}
.header,
.content,
.sidebar,
.footer {
  box-sizing: border-box;
  border-radius: 20px 20px 20px 20px;
}
